.bibliotheque-container {
  background: #EFEFEF;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.livres-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.livre-card {
  background: #dfcccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.livre-card:hover {
  transform: scale(1.02);
}
