@use "../base/mixins" as *;

.btn {
  &-primary {
    @include button(var(--primary-color));
  }

  &-secondary {
    @include button(var(--secondary-color));
  }

  &-error {
    @include button(var(--error-color));
  }

  &-success {
    @include button(var(--success-color));
  }

  &-outline {
    @include button(transparent, var(--primary-color));
    border: 2px solid currentColor;

    &:hover {
      background-color: var(--primary-color);
      color: var(--light-text);
    }
  }

  &-sm {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  &-lg {
    padding: 1rem 2rem;
    font-size: 1.125rem;
  }
}