// 🎨 Définition des couleurs globales
$background-color: #F5F5F5;
$navbar-bg: #B5B19B;
$text-color: #2C3E50;
$primary-color: #3E606F;
$secondary-color: #A3B18A;



// 📏 Tailles
$border-radius: 8px;

// 🖋 Typographie
$font-family: 'Roboto', sans-serif;